In [1]:
import pandas as pd
df = pd.read_csv("titanic_augmented.csv")

cols_to_drop = [
    "PassengerId",
    "Name",
    "Ticket",
    "Cabin",
    "booking_reference",
    "service_id"
]

df_clean = df.drop(columns=cols_to_drop)

df_clean.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,name_length,title,title_group,family_size,is_alone,ticket_group_size,fare_per_person,age_fare_ratio,cabin_deck,cabin_room_number,cabin_score,name_word_count
0,0,3,male,22.0,1,0,7.2500,S,23,Mr,Mr,2,0,1,7.250,3.034483,Unknown,NaN,6.134152,4
1,1,1,female,38.0,1,0,71.2833,C,51,Mrs,Mrs,2,0,1,71.283,0.533084,C,85.0,4.182430,7
2,1,3,female,26.0,0,0,7.9250,S,22,Miss,Miss,1,1,1,7.925,3.280757,Unknown,NaN,9.327285,3
3,1,1,female,35.0,1,0,53.1000,S,44,Mrs,Mrs,2,0,2,26.550,0.659134,C,123.0,8.660639,7
4,0,3,male,35.0,0,0,8.0500,S,24,Mr,Mr,1,1,1,8.050,4.347826,Unknown,NaN,0.452187,4

In [2]:
from sklearn.model_selection import train_test_split

y = df_clean["Survived"]
X = df_clean.drop(columns=["Survived"])

X_train_raw, X_test_raw, y_train, y_test = train_test_split(
    X, y,
    test_size=0.25,
    random_state=42,
    stratify=y
)

train_raw = X_train_raw.copy()
train_raw["Survived"] = y_train.values

test_raw = X_test_raw.copy()
test_raw["Survived"] = y_test.values

train_raw.to_csv("train_raw.csv", index=False)
test_raw.to_csv("test_raw.csv", index=False)

print("Overall:", y.mean())
print("Train  :", y_train.mean())
print("Test   :", y_test.mean())
print("Shapes :", X_train_raw.shape, X_test_raw.shape)

Overall: 0.3838383838383838
Train  : 0.38323353293413176
Test   : 0.38565022421524664
Shapes : (668, 19) (223, 19)